<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i>Clients</h2>
  </div>
  <div class="col-md-6">
    <h5 class="text-right text-secondary">Montant total dû : {{ detteTotale | currency : "EUR" }} </h5>
  </div>
</div>

<table *ngIf="clients?.length > 0; else noClients" class="table table-striped mt-3">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Solde</th>
      <th scope="col"></th> 
    </tr>
  </thead>

  <tbody *ngFor="let client of clients">
    <tr scope="row">
      <td> {{ client.prenom }} {{client.nom}} </td>
      <td> {{ client.email }} </td>
      <td> {{ client.solde | currency:"EUR" }} </td>
      <td><a routerLink="/client/{{ client.id }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-circle-o-right"></i>
            Details
          </a>
      </td>
    </tr>
  </tbody>

</table>


<ng-template #noClients>
  <hr>
  <h5>There are no clients in the system</h5>
</ng-template>