<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary">
          <i class="fa fa-lock"></i>
          Compte Administrateur</span> Register
        </h1>
        <form (submit)="onSubmit()"> 
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" [(ngModel)]="email"
            required
            class="form-control"
            >
          </div>
          <div class="form-group">
              <label for="password">Mot de Passe</label>
              <input type="password" name="password" [(ngModel)]="motDePasse"
              required
              class="form-control"
              >
            </div>
            <input type="submit" value="Register" class="btn btn-primary btn-block">

        </form>
      </div>
    </div>
  </div>
</div>