<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>
      Retour au tableau de bord
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a routerLink="/client/edit/{{ id }}" class="btn btn-dark">
        Edit
      </a>
      <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>

<hr>

<div *ngIf="client" class="card">
  <h3 class="card-header">{{client.prenom}} {{client.nom}}</h3>  
  <div class="card-body">
    <div class="row">
      <div class="cold-md-8 col-sm-6">
        <h4>Client ID : {{ client.id }}</h4>
      </div>
      <div class="cold-md-8 col-sm-6">
        <h3 class="pull-right">
          Solde
          <span [class.text-danger]="soldeExistant" [class.text-success]="!soldeExistant">
            {{ client.solde | currency : "EUR"}}
          </span>
          <small>
            <a (click)="afficherInputModifSolde = !afficherInputModifSolde  ">
              <i class="fa fa-pencil"></i>
            </a>
          </small>
        </h3>
        <div class="clearfix">
          <form *ngIf="afficherInputModifSolde" (submit)="modifierSolde()">
            <div class="input-group">
              <input type="text" name="solde" class="form-control"
              [(ngModel)]="client.solde"
              >
              <span class="input-group-btn">
                <button type="submit" class="btn btn-secondary">Update</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Email du client : {{client.email}}</li>
      <li class="list-group-item">Numéro du Client : {{client.telephone}}</li>
    </ul>
  </div>
</div>