<div class="row">
  <div class="col-md-6">
    <a routerLink="/client/{{ id }}" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>
      Retour au Client
    </a>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="card">
  <div class="card-header">
    Edit Client
  </div>
  <div class="card-body">
    <form #formulaireInscription="ngForm" (ngSubmit)=onSubmit(formulaireInscription)>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input class="form-control" type="text" name="prenom" #clientPrenom="ngModel" [(ngModel)]="client.prenom" required
          minlength="2" [ngClass]="{'is-invalid': clientPrenom.errors && clientPrenom.touched }">

        <div [hidden]="!clientPrenom.errors?.required" class="invalid-feedback">
          Prénom requis
        </div>
        <div [hidden]="!clientPrenom.errors?.minlength" class="invalid-feedback">
          Minimum 2 caractères
        </div>
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input class="form-control" type="text" name="nom" #clientNom="ngModel" [(ngModel)]="client.nom" required minlength="2"
          [ngClass]="{'is-invalid': clientNom.errors && clientNom.touched }">

        <div [hidden]="!clientNom.errors?.required" class="invalid-feedback">
          Nom requis
        </div>
        <div [hidden]="!clientNom.errors?.minlength" class="invalid-feedback">
          Minimum 2 caractères
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" #clientEmail="ngModel" [(ngModel)]="client.email" required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          [ngClass]="{'is-invalid': clientEmail.errors && clientEmail.touched }">

        <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
          Email requis
        </div>
        <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
          Cette adresse mail n'est pas valide
        </div>
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input class="form-control" type="text" name="telephone" #clientPhone="ngModel" [(ngModel)]="client.telephone" required
          minlength="10" [ngClass]="{'is-invalid': clientPhone.errors && clientPhone.touched }">

        <div [hidden]="!clientPhone.errors?.required" class="invalid-feedback">
          Numéro de téléphone requis
        </div>
        <div [hidden]="!clientPhone.errors?.minlength" class="invalid-feedback">
          Minimum 10 caractères
        </div>
      </div>
      <div class="form-group">
        <label for="solde">Solde</label>
        <input class="form-control" type="number" name="solde"
          #clientSolde="ngModel" [(ngModel)]="client.solde"
          [ngClass]="{'is-invalid': clientSolde.errors && clientSolde.touched }"
          [disabled]="disableBalanceOnEdit"
          >

        <div [hidden]="!clientSolde.errors?.required" class="invalid-feedback">
          Solde requis
        </div>

      </div>

      <input type="submit" value="Modifier utilisateur" class="btn btn-secondary btn-block">











    </form>
  </div>
</div>